<nav class="columns ten">
  <ul id="nav-bar" class="inline" data-hook>
    <li id="search-bar" data-hook>
      <%= render :partial => 'spree/shared/search' %>
    </li>
    <li><a href="/signin"><img src="/assets/store/fb.jpeg" width="20" height="20"></a></li>
  </ul>
</nav>
